<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/calculate" method="post">
    <input type="text" name="val1" placeholder="First Number">
    <input type="text" name="val2" placeholder="Second Number">
    <select name="operation">
        <option value="add">Add</option>
        <option value="subtract">Subtract</option>
        <option value="multipy">Multiply</option>
        <option value="divide">Divide</option>
    </select>
    <input type="submit" value="calculate">
    </form>
</body>
</html>